.Header
  .Top
    %h.Top__title
      = link_to image_tag('logo2.png'), root_path
    %ul.Top__account
      - if user_signed_in?
        %li.Top__account__message
          = "#{ current_user.name }さん、ようこそ"
        %li.Top__account__logout
          = button_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout"
      - else
        %li.Top__account__sgin-up
          = link_to "新規会員登録", new_user_registration_path
        %li.Top__account__sgin-in
          = link_to "ログイン", new_user_session_path
  .Menu
    = link_to "新規予約", new_reservation_path, class: "Menu__new"
    = link_to "予約確認", root_path, class: "Menu__confirm"