.Main
  .Information
    .Notification
      = render 'layouts/notifications'
    .Information__title
      = "#{ current_user.name }さんの予約一覧"
    .Information__reservation
      .ContentField
        - @reservations.each do |reservation|
          - if user_signed_in? && current_user.id == reservation.user_id
            .ContentField__datetime
              = render partial: "datetime", locals: { reservation: reservation}
            .ContentField__course
              = render partial: "course", locals: { reservation: reservation}
            .ContentField__details
              = link_to "詳細確認", reservation_path(reservation.id), method: :get, class: "ContentField__details-reservation"

