.Main
  .Information
    - if user_signed_in?
      .Notification
        = render 'layouts/notifications'
      .Information__title
        = "#{ current_user.name }さんの予約一覧"
      .Information__reservation
        - @reservations.each do |reservation|
          - if user_signed_in? && current_user.id == reservation.user_id
            .Datetime
              = render partial: "datetime", locals: { reservation: reservation}
            .Course
              = render partial: "course", locals: { reservation: reservation}
            .Details
              = link_to "予約変更/取消", reservation_path(reservation.id), method: :get, class: "Details__reservation"
    - else
      %p ログインして下さい