.Body
  .Form-box
    = form_with model: @reservation, local: true, class: "ContentErea" do |f|
      .Form-box__datetime
        .Form-box__datetime-title
          = f.label :datetime, 'ご希望の日時', class: "Label"
          %span.Requirement
            必須
        = f.datetime_field :datetime, class: "Form-box__datetime-select"
      .Form-box__datetime-alert
        - if @reservation.errors.include?(:datetime)
          = @reservation.errors.full_messages_for(:datetime).first
      .Form-box__course
        .Form-box__course-title
          = f.label :product_id, 'ご希望のコース', class: "Label"
          %span.Requirement
            必須
        = f.select :product_id, @products.map { |product| [product.product_name, product.id]},
          { include_blank: '選択してください' },
          { class: "Form-box__course-select" }
      .Form-box__course-alert
        - if @reservation.errors.include?(:product)
          = @reservation.errors.full_messages_for(:product).first
      .Reservation
        = f.submit '予約', class: "Reservation__button", data: { confirm: "この内容で予約しますか？" }