.Body
  .Form-box
    = form_with model: @reservation, local: true do |f|
      .alert
        = render 'layouts/notifications'
      .Form-box__content
        = f.label :date, 'ご希望の日にち', class: "Form-box__content__title"
        %span.Form-box__content__requirement
          必須
        = f.date_field :date, class: "Form-box__content__select"
      .alert
        = render 'layouts/notifications'
      .Form-box__content
        = f.label :time, 'ご希望のお時間', class: "Form-box__content__title"
        %span.Form-box__content__requirement
          必須
        = f.select :time,
          { '10:00~': 1,
            '11:00~': 2, 
            '12:00~': 3,
            '13:00~': 4,
            '14:00~': 5,
            '15:00~': 6,
            '16:00~': 7,
            '17:00~': 8,
            '18:00~': 9,
            '19:00~': 10 },
          { include_blank: '選択してください' },
          { class: "Form-box__content__select" }
      .alert
        = render 'layouts/notifications'
      .Form-box__content
        = f.label 'ご希望のコース', class: "Form-box__content__title"
        %span.Form-box__content__requirement
          必須
        = f.collection_select :product_name, @product, :id, :name,{prompt:"選択してください"}
          -# { include_blank: '選択してください' },
          -# { class: "Form-box__content__select" }
          -# }
      .Form-box__content
        = f.label :price, 'ご希望のコースの金額', class: "Form-box__content__title"
        .Form-box__content__price
          %p ここに金額が表示される
      .Form-box__content
        = f.submit '予約', class: "Form-box__button"