.Header
  .Top
    .Top__title
      = link_to "サロン予約", root_path
      -# あとでロゴを置く
    %ul.Top__account
      -# - if user_signed_in?
        %li.Top__account__sgin-up
          = link_to "マイページ", new_user_registration_path
        %li.Top__account__sgin-in
          = button_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout"
      - else
        %li.Top__account__sgin-up
          = link_to "新規会員登録", new_user_registration_path
        %li.Top__account__sgin-in
          = link_to "ログイン", new_user_session_path
  .Menu
    = link_to "新規予約", new_reservation_path, class: "Menu__new"
    = link_to "予約確認", '#', class: "Menu__check"
    -# reservation_path(@reservation.id)
    = link_to "予約変更・取消", '#', class: "Menu__change"
    -# edit_reservation_path(@reservation.id)
    = link_to "予約取消", '#', class: "Menu__cancel"